# yamllint disable rule:line-length
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
# yamllint enable rule:line-length
---
name: Test & Build
"on":
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      update-lambda:
        description: "Update AWS Lambda Function Code"
        required: true
        default: true
        type: boolean

jobs:
  test_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          cache: "maven"
          distribution: "corretto"
          java-version: "21"
      - run: ./mvnw --batch-mode --update-snapshots clean package
      - uses: actions/upload-artifact@v5
        with:
          name: serverless-rss-reader.jar
          path: target/serverless-rss-reader-*.jar

  update-lambdas:
    if: github.event_name == 'workflow_dispatch' && inputs.update-lambda
    runs-on: ubuntu-latest
    needs: test_build
    permissions:
      id-token: write
    env:
      DISCORD_LAMBDA_FUNCTION_NAME: serverless-rss-reader-discord-handler
      RSS_LAMBDA_FUNCTION_NAME: serverless-rss-reader-rss-handler
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: serverless-rss-reader.jar
      - run: mv -v serverless-rss-reader-?.?.?.jar serverless-rss-reader.jar
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-east-2
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
      - run: >
          aws lambda update-function-code
          --function-name $DISCORD_LAMBDA_FUNCTION_NAME
          --zip-file fileb://serverless-rss-reader.jar
      - run: >
          aws lambda update-function-code
          --function-name $RSS_LAMBDA_FUNCTION_NAME
          --zip-file fileb://serverless-rss-reader.jar
